<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="b8f3218b-4a9f-4f44-bbc7-a1b0b470eaa3"
            Publisher="CN=Thiago"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>PixelChallenge</DisplayName>
    <PublisherDisplayName>Thiago</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="PixelChallenge.App">
        <VisualElements
            DisplayName="PixelChallenge"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="PixelChallenge"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>